.header {

  &__container {
    justify-content: space-between;
  }

  &__logo {
    &-image {
      height: 50px;
    }
  }

  &__nav {
    &-links {
      display: flex;
      list-style-type: none;
    }

    &-item {}

    &-link {
      padding: $spacing-large;
      text-decoration: none;
    }
  }
}
