$_hero-height: 450px;

.hero {
  height: $_hero-height;
  background: pink;
  display: flex;

  &__container {}

  &__cta {
    flex: 1 0 50%;

    &-button {
      background-color: $color-primary;
      padding: $spacing-medium;
    }

  }

  &__image {
    flex: 1 0 50%;

    background: beige;
  }
}
