$_hero-height: 450px;

.hero {
  height: $_hero-height;
  background: pink;
  display: flex;

  &__container {
    // align-items: center;
  }

  &__cta {
    flex: 0 0 50%;
    padding: $spacing-xlarge;
  }

  &__image {
    flex: 0 0 50%;

    background-image: url('../../images/hero.jpeg');
    background-size: cover;
  }
}
