$_hero-height: 450px;

.hero {
  height: $_hero-height;
  background: pink;
  display: flex;
  //align-items: stretch;

  &__container {
    //align-items: stretch;
  }

  &__cta {
    flex: 0 0 50%;

  }

  &__image {
    flex: 0 0 50%;

    background: beige;
  }
}
