.member {
  display: flex;
  align-items: center;

  &__photo {
    flex: 0 1 50%;
    display: flex;
    padding: 36px;

    &-image {
      height: 500px;
      width: 400px;
      background-image: url('../../images/member__irene.jpeg');
      background-size: cover;
      background-position: center center;
      margin-left: auto;
    }
  }

  &__info {
    flex: 0 1 50%;
    padding: 100px;
  }
}
