.member {
  display: flex;
  align-items: center;

  &__photo {
    flex: 0 1 50%;
    display: flex;
    padding: 36px 0 36px 36px;

    &-image {
      height: 500px;
      width: 400px;
      background-image: url('../../images/member__irene.jpeg');
      background-size: cover;
      background-position: center center;
      margin-left: auto;
      box-shadow: 10px 10px 0 rgba(0, 0, 0, .15);
      display: flex;
      padding: $spacing-xlarge;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      &:before {
        background: linear-gradient(to top, black, white);
        height: 200px;
        width: 100%;
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }

  &__info {
    flex: 0 1 50%;
    padding: 100px;

    &-description {
      color: $color-tertiary;
    }
  }

  &__name {
    font-size: 72px;
    font-weight: $font-bold;
    color: white;
    z-index: 2;
  }

  &__position {
    font-size: $font-medium;
    font-weight: $font-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .50);
    z-index: 2;
  }
}
