.member {
  display: flex;
  align-items: center;

  &__photo {
    flex: 0 1 50%;

    &-image {
      height: 600px;
      width: 400px;
      background-image: url('../../images/member__irene.jpeg');
      background-size: cover;
      background-position: center center;
    }
  }

  &__info {
    flex: 0 1 50%;
  }
}
