$color-primary: #B50000;
$color-secondary: #6F2F2F;

$background-primary: #F9EDED;


$colors: $color-primary,
$color-secondary,
$background-primary;


@each $color in $colors {
  .background {

    &--#{$color} {
      color: #{$color};
    }
  }
}
