$sides: top,
bottom,
left,
right;

@each $side in $sides {
  .no-margin {
    margin: 0;

    &--#{$side} {
      margin-#{$side}: 0;
    }
  }
}

@each $side in $sides {
  .no-padding {
    padding: 0;

    &--#{$side} {
      padding-#{$side}: 0;
    }
  }
}

$spacing: ("small": 4px, "medium": 8px, "large": 16px);

@each $side in $sides {
  .margin {

    &-#{$side} {

      @each $size,
      $value in $spacing {
        &--#{$spacing} {
          margin-#{$side}: $spacing;
        }
      }
    }
  }
}
