@import 'partials/colors';
@import 'partials/spacing';
@import 'partials/typography';

@import 'components/button';
@import 'components/header';
@import 'components/hero';


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;

}

.container {
  display: flex;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
