@import 'partials/colors';
@import 'partials/spacing';
@import 'partials/typography';
@import 'partials/utilities';

@import 'components/button';
@import 'components/header';
@import 'components/hero';
@import 'components/trivia';
@import 'components/about';
@import 'components/members';


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-large;

  &--half {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    padding: 0 $spacing-xlarge;
  }
}


.logo-background {
  background-image: url(../images/logo-transparent.png);
  background-position: left center;
  background-repeat: no-repeat;

  &--right {
    background-position: right center;
  }

  &--gray {
    background-image: url(../images/logo-transparent--bw.png);
    background-position: center center;
    background-repeat: no-repeat;

    &-repeat {
      background-image: url(../images/logo-transparent--bw.png);
      background-position: center center;
      background-repeat: repeat-x;
    }
  }
}
